<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Details</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Post Details</h1>
    <h1>Post Id : <%= post.id  %></h1>
    <div class="post">
        <p class="user" > Username @<%= post.username %> </p>
        <p class="content" >Content : <%= post.content %></p>
    </div>
    </body>
</html> 